<h1>Products</h1>

<h1> only have view button and have info pop up in modal</h1>

<%= link_to 'New Product', new_product_path %>


<div>
  <%= grid(@products_grid) do |g|

    g.column do |product|
      product.id
    end

    g.column  do |product|
      product.name
    end

    g.column  do |product|
      product.link
    end

    g.column  do |product|
      product.orders
    end

    g.column do |product|
      product.description
    end

    # g.column do |product|
    #   product.archived? ? 'Yes' : 'No'
    # end

    g.column do |product|

      link_to('View', "data-toggle" => "modal", 'data-target' => '#exampleModal')


    end



        g.column do |product|
          link_to('View', product_path(product))
        end



    g.column do |product|
      buffer =link_to('View ', product_path(product))
      buffer += link_to('Edit ', edit_product_path(product))
      raw buffer
    end

    g.column do |product|
      link_to('Edit', edit_product_path(product))
    end

    g.column do |product|
      link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
    end

  end -%>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
